<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Production Calendar</title>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>
<div id="app">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <h3 style="color:#fd680e;">Production Calendar</h3>
        </nav>
        <div class="row ml-2">
            <div class="col mt-4 text-center">
                <h3><span class="clickable" @click="decreaseYear();">◀</span> {{ request.year }} <span class="clickable" @click="increaseYear();">▶</span></h3>
            </div>
        </div>
        <div class="row ml-2">
            <div class="col float-right mt-4" v-for="(month) in year">
                <table :class="'calendar ' + (month.number === request.month ? 'calendar-focused' : '')" @click="selectMonth(month.number)">
                    <tr>
                        <td class="month" colspan="8">{{ month.name }} - <span>[working {{month.working.days}}d /{{month.working.hours}}h]</span></td>
                    </tr>
                    <tr class="dayOfWeek">
                        <td class="work">#w</td>
                        <td class="work">mo</td>
                        <td class="work">tu</td>
                        <td class="work">we</td>
                        <td class="work">th</td>
                        <td class="work">fr</td>
                        <td class="holiday">sa</td>
                        <td class="holiday">su</td>
                    </tr>
                    <tr v-for="(week) in month.weeks">
                        <td class="weekNum">{{ week.number }}</td>
                        <td :class="day.type" v-for="(day) in week.days">{{ day.date}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-7">&nbsp;</div>
            <div class="col-sm-4">
                <a v-bind:href="shareUrl" target="_blank">[Share via TG]</a>
                <p class="copyright">Copyright &copy; <span>{{ currentYear }}</span> - Designed by timmson</p>
            </div>
            <div class="col-sm-1">&nbsp;</div>
        </div>
    </div>
</div>
<script src="index.js" type="application/javascript"></script>
</body>
</html>
