@import "~bootstrap/scss/bootstrap.scss";

$font-size: 36pt !default;
$font-size-small: 20pt !default;
$month-top: 55px !default;
$month-left: 180px !default;

html, body {
  font-size: $font-size;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.arrows {
  color: #00AFFF;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
}

div.month {

  top: $month-top;
  left: $month-left;
  background: #fff;
  position: relative;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 2;

  sup {
    font-size: $font-size-small;
  }
}

@media screen and (min-width: 1000px) {
  $font-size: 18pt;
  $font-size-small: 10pt;
  $month-top: 28px;
  $month-left: 75px;

  html, body {
    font-size: $font-size;
  }

  div.month {
    top: $month-top;
    left: $month-left;

    sup {
      font-size: $font-size-small;
    }
  }
}

.calendar {

  min-width: 400px;
  width: 100%;

  tr.dayOfWeek td {
    border: 0;
  }

  td {
    width: 12.5%;
    text-align: center;
    border-top: 1px #ccc solid;
  }

  td.weekNum {
    border: 0;
    color: #929292;
    font-size: smaller;
  }

  td.work {
    color: black;
  }

  td.holiday {
    color: #FF0000;
  }

  td.work_reduced {
    color: brown;
  }

  td.inactive {
    color: #4A4A4A;
  }
}

.calendar-focused {
  border: 2px #FF0000 solid;
}

