@import "~bootstrap/scss/bootstrap.scss";

html, body {
  font-size: 16pt;
  scroll-behavior: smooth;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  html, body {
    font-size: 36pt;
  }
}

.clickable {
  cursor: pointer;
}

.calendar {

  border: 3px #ccc solid;
  min-width: 400px;
  width: 100%;

  tr.dayOfWeek td {
    background-color: #ccc;
  }

  td {
    width: 12.5%;
    text-align: center;
    border: 1px solid gray;
    background-color: #eee;
  }

  td.month {
    background-color: #aaa;
    font-weight: bold;

    span {
      font-size: smaller;
      font-weight: normal;
    }
  }

  td.weekNum {
    color: cornflowerblue;
    font-style: italic;
  }

  td.work {
    color: black;
  }

  td.holiday {
    font-weight: bold;
    color: red;
  }

  td.work_reduced {
    color: brown;
  }

  td.inactive {
    color: darkgray;
  }
}

.calendar-focused {
  border: 3px #f00 solid;
}